<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="user-scalable=0,width=device-width, initial-scale=1.0"/>
  <title>Motion Pay</title>
  <link crossorigin="anonymous" integrity="sha512-kXsClOKFf2EPvWnRqDQ9bsHeiUtdN8ub/GDVIX5M4ji3lc6vb8/VbSWdnlFa+9YHB/73XJmgAe0K2NM/p/VNeg==" href="https://lib.baomitu.com/weui/2.4.1/style/weui.min.css" rel="stylesheet">

 
</head>
<body>
  <div id="root"></div>
  <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
  <script src="https://cdn.bootcss.com/crypto-js/3.1.9/crypto-js.min.js"></script>
</body>
</html>
